@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --move: 100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.header-title {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.stroke-black {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

.stroke-white {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
}

.stroke-blue-500 {
  -webkit-text-stroke: 1px rgb(59, 130, 246);
  -webkit-text-fill-color: black;
}

.translateTrack {
  animation: ease 10s infinite running translateTrack;
}

@keyframes translateTrack {
  0% {
    transform: translate3d(0, 0px, 0);
  }
  25% {
    transform: translate3d(var(--move), 0px, 0);
  }
  50% {
    transform: translate3d(var(--move), var(--move), 0);
  }
  75% {
    transform: translate3d(0px, var(--move), 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}

.translateTrackNext {
  animation: ease 10s infinite running translateTrackNext;
}

@keyframes translateTrackNext {
  0% {
    transform: translate3d(0, 0px, 0);
  }
  25% {
    transform: translate3d(0, var(--move), 0);
  }
  50% {
    transform: translate3d(calc(var(--move) * -1), var(--move), 0);
  }
  75% {
    transform: translate3d(calc(var(--move) * -1), 0px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
